<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Wpforms field label */
#wpforms-form-983 .wpforms-field-label{
	color:#404040;
}

/* Wpforms submit 983 */
#wpforms-submit-983{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:#b7161c;
	color:#ffffff;
	
}

/* Heading title */
.elementor-element-38091356 .elementor-widget-heading h4.elementor-heading-title{
	color:#b7161c;
}


</style>
<!-- end Simple Custom CSS and JS -->
